<h3>Create account</h3>

<form (ngSubmit)="onSubmit()" [formGroup]="authForm" class="ui form">
  <app-input
    label="Username"
    [control]="authForm.controls.username"
  ></app-input>

  <app-input
    label="Password"
    [control]="authForm.controls.password"
    inputType="password"
  ></app-input>

  <app-input
    label="Confirm password"
    [control]="authForm.controls.passwordConfirmation"
    inputType="password"
  ></app-input>

  <div *ngIf="formErrors.isError" class="ui red basic label">
    <p *ngIf="formErrors.passwordsDontMatch">
      Password confirmation does not match
    </p>

    <p *ngIf="formErrors.noConnectionError">
      No internet connection detected, failed to sign up
    </p>

    <p *ngIf="formErrors.unknownError">Failed to sign up</p>
  </div>

  <button class="ui submit button primary">Submit</button>
</form>
