<form (ngSubmit)="onSubmit()" class="ui form" [formGroup]="emailForm">
  <app-input
    [control]="emailForm.controls.to"
    inputType="email"
    label="To"
  ></app-input>

  <app-input [control]="emailForm.controls.from" inputType="email" label="From">
  </app-input>

  <app-input
    [control]="emailForm.controls.subject"
    inputType="text"
    label="Subject"
  ></app-input>

  <app-input
    [control]="emailForm.controls.text"
    controlType="textarea"
    label="Text"
  >
  </app-input>

  <button class="ui button primary">Send</button>
</form>
